/*-- footer style --*/

.background-dark{
  background-color: #161324;
}

.footer-container {
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 1em;
  margin-top: 2.5em;
}

.footer-text h3, .h3 {
  font-size: .875rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  margin-top: 0.3rem;
  border-bottom: 0;
  padding-bottom: 0;
  padding-top: 0px;
}

.footer-text p, .p {
  font-size: .875rem;
  font-weight: 400;
}

.footer-text p > a {
  font-size: .875rem;
  font-weight: 400;
}

.footer-text p > a:hover {
  color: #161324;
  font-size: .875rem;
  font-weight: 400;
}

.footer-block {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 1.8em; 
  box-sizing: border-box;
}
